.footer {
  background-color: #1e1e1e;
  border-top: 1px solid #444;
  padding: 20px 0;
}

.footerContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.creator {
  font-size: 14px;
  color: #aaa;
  text-align: left;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease, opacity 0.3s ease;
  cursor: pointer;
  filter: grayscale(100%);
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
  filter: grayscale(0%);
}
